*{
    box-sizing: border-box;
}

body,html{
    font-size: 16px;
    font-family: "Monserrat", sans-serif;
    color: rgba(0, 0, 0, .87);
    line-height: 1.6;
    margin: 0;
    font-weight: 400;
    
}

.topbar {
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: #FFF;
    padding: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
}

.topbar nav {
    float: left;
}

.topbar nav a {
    color: grey;
    text-decoration: none;
    font-weight: bold;
    padding: 0 53px;
}

.topbar nav a:hover,.topbar nav a.active {
    color: #000;
    text-decoration: none;
}

.topbar .social {
    float: right;
}

.banniere{
    height: 427px;
    background:no-repeat center center / cover url("../img/vie-est-voyage-exploration-aventure-voyager.jpg");
}
.body-page{
    display: flex;
}
.main{
    width: calc(100% - 375px);
    background-color: #FFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
    position: relative;
    z-index: 2;
}
.sidebar{
    position: relative;
    z-index: 1;
    width: 375px;
    background: #FBFBFB;
    padding: 40px;
}
.sidebar-title{
    font-size: 30px;
    color: #000;
    margin: 15px 0;
}
.sidebar-title:first-child{
    margin-top: 0;
}
.sidebar a{
    color: #9F9F9F;
    text-decoration: none;
}
.sidebar a:hover{
    text-decoration: underline;
}
.sidebar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 17px;
}
.sidebar li{
    padding: 6px 0;
}
.sidebar li:first-child{
    padding-top: 0;
}
.sidebar li:last-child{
    padding-bottom: 0;
}
.sidebar hr{
    border-color: #C4C4C4;
}
.container{
    margin: 0 auto;
    max-width: 943px;
}
.article{
    position: relative;
    margin: 50px;
    padding-left: 325px;
    min-height: 203px;
    max-width: 943px;
}
.article-img{
    position:absolute;
    left: 0;
    top: 0;
    float: left;
    width: 300px;
    margin-right: 26px;
}
.article-img img{
    width: 100%;
    height: auto;
}
.article-date{
    font-weight: 400;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 5px;
}
.article-title{
    font-size: 1.90rem;
    line-height: 1.1;
    font-family: "Cardo",serif;
    margin: 0 0 15px 0;
}
.article a {
    color: inherit;
    text-decoration: none;
}
.article a:hover{
    text-decoration: underline;
}
.footer{
    clear: both;
}
.article-img{
    transition: transform ease-in-out 1s;
}
.article-img:hover{
    transform: rotate(30deg) scale(1.1);
}
